<ng-container *ngIf="state$ | async as state">
  <ui-calculator-container [calculation]="state.calculation" [elementType]="'cryo'">
    <ui-calculator-title>甘雨: 通常攻撃・流天射術</ui-calculator-title>
    <ui-calculator-subtitle>霜華の矢+霜華満開ダメージ</ui-calculator-subtitle>

    <app-ganyu-liutian-archery-calculator-form
      [value]="state.inputValues"
      [calculation]="state.calculation"
      (valueChange)="onFormValueChange($event)"
    ></app-ganyu-liutian-archery-calculator-form>
  </ui-calculator-container>
</ng-container>
