<header class="flex flex-wrap justify-start items-center border-b-2 border-gray-200 px-4 py-3 space-x-1">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="block w-8 h-8">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M9 7h6m0 10v-3m-3 3h.01M9 17h.01M9 14h.01M12 14h.01M15 11h.01M12 11h.01M9 11h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z"
    />
  </svg>
  <h1 class="inline-block text-2xl">威力計算真君</h1>
  <span class="text-sm text-gray-500">Genshin Impact Damage Calculator</span>
</header>

<main class="bg-gray-100 flex-auto flex flex-col">
  <header class="p-4 border-b border-gray-200">
    <a routerLink="/zhongli-burst" class="">鍾離: 天星</a>
  </header>

  <section class="flex-auto">
    <router-outlet></router-outlet>
  </section>
</main>
