<ui-character-nav [thumbnailSrc]="'/assets/images/characters/albedo.png'" [characterName]="'アルベド'">
  <div ui-character-nav-item [isActive]="true">元素スキル「創生術・疑似陽華」</div>
</ui-character-nav>

<ng-container *ngIf="state$ | async as state">
  <ui-calculator-container>
    <ui-calculator-description>刹那の花ダメージ</ui-calculator-description>

    <ui-calculation-results
      *ngIf="state.calculation as calculation"
      [element]="'geo'"
      [calculatedDamage]="calculation.calculatedDamage"
    >
    </ui-calculation-results>

    <app-albedo-transient-blossoms-calculator-form
      [value]="state.calculatorParams"
      (valueChange)="setCalculateParams($event)"
    ></app-albedo-transient-blossoms-calculator-form>
  </ui-calculator-container>
</ng-container>
