<ng-container *ngIf="state$ | async as state">
  <ui-calculator-container>
    <ui-calculator-title>アルベド: 元素スキル「創生術・疑似陽華」</ui-calculator-title>
    <ui-calculator-subtitle>刹那の花ダメージ</ui-calculator-subtitle>

    <ui-calculation-results
      *ngIf="state.calculation as calculation"
      [element]="'geo'"
      [calculatedDamage]="calculation.calculatedDamage"
    >
    </ui-calculation-results>

    <app-albedo-transient-blossoms-calculator-form
      [value]="state.calculatorParams"
      (valueChange)="setCalculateParams($event)"
    ></app-albedo-transient-blossoms-calculator-form>
  </ui-calculator-container>
</ng-container>
