<ng-container *ngIf="state$ | async as state">
  <ui-calculator-container>
    <ui-calculator-description>霜華の矢+霜華満開 合計ダメージ</ui-calculator-description>

    <ui-calculation-results
      *ngIf="state.calculation as calculation"
      [element]="'cryo'"
      [calculatedDamage]="calculation.calculatedDamage"
    >
    </ui-calculation-results>

    <app-ganyu-liutian-archery-calculator-form
      [value]="state.calculatorParams"
      (valueChange)="setCalculateParams($event)"
    ></app-ganyu-liutian-archery-calculator-form>
  </ui-calculator-container>
</ng-container>
