<ng-container *ngIf="state$ | async as state">
  <ui-calculator-container>
    <ui-calculator-title>辛炎: 元素爆発「反逆の弾き」</ui-calculator-title>
    <ui-calculator-description>スキルダメージ</ui-calculator-description>

    <ui-calculation-results
      *ngIf="state.calculation as calculation"
      [element]="'physical'"
      [calculatedDamage]="calculation.calculatedDamage"
    >
    </ui-calculation-results>

    <app-xinyan-riff-revolution-calculator-form
      [value]="state.calculatorParams"
      (valueChange)="calculate($event)"
    ></app-xinyan-riff-revolution-calculator-form>
  </ui-calculator-container>
</ng-container>
