<ui-calculator-nav [thumbnailSrc]="'/assets/images/characters/zhongli.png'" [characterName]="'鍾離'">
  <div ui-calculator-nav-item [isActive]="true">元素爆発「天星」</div>
</ui-calculator-nav>

<ng-container *ngIf="state$ | async as state">
  <ui-calculator-container>
    <ui-calculator-description>スキルダメージ</ui-calculator-description>

    <ui-calculation-results
      *ngIf="state.calculation as calculation"
      [element]="'geo'"
      [calculatedDamage]="calculation.calculatedDamage"
    >
    </ui-calculation-results>

    <app-zhongli-planet-befall-calculator-form
      [value]="state.calculatorParams"
      (valueChange)="calculate($event)"
    ></app-zhongli-planet-befall-calculator-form>
  </ui-calculator-container>
</ng-container>
