<ng-container *ngIf="state$ | async as state">
  <ui-calculator-container>
    <ui-calculator-title>鍾離: 元素爆発「天星」</ui-calculator-title>
    <ui-calculator-subtitle>スキルダメージ</ui-calculator-subtitle>

    <ng-container *ngIf="state.calculation as calculation">
      <ui-calculation-results [element]="'geo'" [calculatedDamage]="calculation.calculatedDamage">
      </ui-calculation-results>
    </ng-container>

    <app-zhongli-planet-befall-calculator-form
      [value]="state.calculatorParams"
      (valueChange)="calculate($event)"
    ></app-zhongli-planet-befall-calculator-form>
  </ui-calculator-container>
</ng-container>
