<ng-container *ngIf="state$ | async as state">
  <ui-calculator-container>
    <ui-calculator-description>発動中　通常攻撃ダメージ</ui-calculator-description>

    <ui-calculation-results
      *ngIf="state.calculation as calculation"
      [element]="'geo'"
      [calculatedDamage]="calculation.calculatedDamage"
    >
    </ui-calculation-results>

    <app-noelle-sweeping-time-attack-calculator-form
      [value]="state.calculatorParams"
      (valueChange)="setCalculateParams($event)"
    ></app-noelle-sweeping-time-attack-calculator-form>
  </ui-calculator-container>
</ng-container>
