<form [formGroup]="form">
  <div class="space-y-2">
    <div class="block border border-gray-500 rounded-md p-4">
      <span class="text-sm font-bold mr-2">基本ステータス</span>
      <ul class="block list-inside list-disc text-xs text-gray-500"></ul>
      <ui-form-fields formGroupName="skillDamage">
        <ui-talent-level-select formControlName="talentLevel"></ui-talent-level-select>
        <ui-number-input label="防御力" formControlName="def"></ui-number-input>
      </ui-form-fields>
      <ui-form-fields formGroupName="critical">
        <ui-number-input mode="percent" label="会心率%" [max]="100" formControlName="criticalRate"></ui-number-input>
        <ui-number-input mode="percent" label="会心ダメージ%" formControlName="criticalDamage"></ui-number-input>
      </ui-form-fields>
    </div>
    <div class="block border border-gray-500 rounded-md p-4" formGroupName="damageBonus">
      <span class="text-sm font-bold mr-2">ダメージバフ</span>
      <ul class="block list-inside list-disc text-xs text-gray-500">
        <li>悠久の磐岩 2セット効果 (岩元素ダメージ+15%)</li>
        <li>固有天賦 (HP50%以下の敵へのダメージ+25%)</li>
        <li>岩共鳴効果 (シールドが存在するとき、与えるダメージ+15%)</li>
        <li>命ノ星座 Lv6 (陽華のエリア内、結晶反応シールド状態にあるとき、与えるダメージ+17%)</li>
      </ul>
      <ui-form-fields>
        <ui-number-input mode="percent" label="岩元素ダメージ%" formControlName="elementalDamageBonus">
        </ui-number-input>
        <ui-number-input mode="percent" label="元素スキルダメージ%" formControlName="attackTypeDamageBonus">
        </ui-number-input>
        <ui-number-input mode="percent" label="与えるダメージ%" formControlName="anyDamageBonus"></ui-number-input>
      </ui-form-fields>
    </div>
    <div class="block border border-gray-500 rounded-md p-4" formGroupName="damageReduction">
      <span class="block text-sm font-bold">ダメージ減衰</span>
      <ui-form-fields>
        <ui-number-input label="キャラクターレベル" formControlName="characterLevel"></ui-number-input>
        <ui-number-input label="敵レベル" formControlName="enemyLevel"></ui-number-input>
        <ui-number-input mode="percent" label="基礎岩元素耐性%" formControlName="baseResistance"></ui-number-input>
        <ui-number-input mode="percent" label="岩元素耐性バフ%" [min]="-100" formControlName="resistanceBonus">
        </ui-number-input>
      </ui-form-fields>
    </div>
  </div>
</form>
